<div class='panel panel-default'>

    <div class='panel-heading heading pointer-cursor toggleResourceList' href='#!/{{id}}' data-id="{{id}}">
        <h2>
            {{name}} {{#summary}}: {{/summary}}{{{summary}}}
        </h2>
        
    </div>

    <div class='container' id='resources_container'>
        <ul id='resources' class = 'resources' style='display:none'>
        
        </ul>
    </div>

</div>